<div class="question">
  <div class="question-content">
    <div class="question-text text-lead">
      <%= question.text %>
    </div>

    <% if question.answer.present? %>
      <div class="question-answer text-lead">
        <%= question.answer %>
      </div>
    <% end %>

    <div class="question-date">
      <time title="Отвечено: <%= question.created_at.strftime('%d %b. %Y, в %M:%H') %>">
        <%= question.created_at.strftime('%d %b') %>
      </time>
      
    </div>
  </div>
</div>
