<div class="column-3-4 buffer-both">
  <div class="content-wrapper text-center">
    <h2>Хэштэг "<em><%= @hashtag.text %></em>":</h2>
  </div>

  <div class="user-questions buffer-both">
    <div class="questions-list">
      <% @questions.each do |question| %>
        <%= render partial: 'questions/question', object: question %>
      <% end %>
    </div>
  </div>
</div>
